@{
    Layout = null;
}
<style>
    [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
        display: none !important;
    }
</style>
<!-- BEGIN PAGE HEADER-->
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a ui-sref="dashboard">Home</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a ui-sref="organizationList">System Configurations</a>
        </li>
    </ul>
    <div class="page-toolbar">
        <span class="col-md-1 glyphicon glyphicon-arrow-left" style="margin-top:.25em; font-size:1.5em;cursor:pointer; color:#23527c" ui-sref="organizationList"></span>
        <div class="btn-group pull-right"></div>
    </div>
</div>
<!-- END PAGE HEADER-->
<!-- BEGIN MAIN CONTENT -->
<div class="note note-success">
    <h3>System Configurations</h3>
    <p>Used to configure the system settings, usually by the Super Administrator</p>
</div>
<div class="row">
    <div class="col-md-12">
        <!-- BEGIN PORTLET-->
        <div class="portlet box blue-hoki">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-gift"></i>Configuration Details
                </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse"> </a>
                </div>
            </div>
            <div class="portlet-body form">
                <!-- BEGIN FORM-->
                <form action="#" name="frmConfigurationAddEdit" class="form-horizontal form-bordered">
                    <div class="form-body">
                        <div class="form-group">
                            <label class="control-label col-md-3">Registration Name</label>
                            <div class="col-md-4">
                                <input type="text" class="form-control" name="registrationName_input" ng-model="systemConfiguration.registrationName" maxlength="200" required>
                                <span class="fieldError" ng-cloak ng-show="frmConfigurationAddEdit.registrationName_input.$dirty && frmConfigurationAddEdit.registrationName_input.$invalid">
                                    <span ng-show="frmConfigurationAddEdit.registrationName_input.$error.required">Registration Name is required</span>
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">Time Zone</label>
                            <div class="col-md-4">
                                <div class="input-icon right">
                                    <select class="form-control select2" ng-model="selectedTimeZone" ng-options="obj.displayName for obj in timeZones track by obj.id"></select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">Event Check List</label>
                            <div class="col-md-4">
                                <textarea class="form-control" ng-model="systemConfiguration.masterEventCheckList" maxlength="4000" rows="10"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">Session Check List</label>
                            <div class="col-md-4">
                                <textarea class="form-control" ng-model="systemConfiguration.masterSessionCheckList" maxlength="4000" rows="10"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">Allow Multiple IOUs</label>
                            <div class="col-md-4">
                                <input type="checkbox" ng-model="systemConfiguration.allowMultipleIou">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">Maximum IOU Amount</label>
                            <div class="col-md-4">
                                <input type="text" class="form-control col-md-6" ng-model="systemConfiguration.maximumIouAmount">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">Maximum Petty Cash Amount</label>
                            <div class="col-md-4">
                                <input type="text" class="form-control col-md-6" ng-model="systemConfiguration.maximumPettyCashAmount">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">USD To LKR</label>
                            <div class="col-md-2">
                                <input type="text" class="form-control col-md-6" ng-model="systemConfiguration.usdToLkr">
                            </div>
                        </div>
                        <div class="form-group">
                            <!-- Begin: Email Settings -->
                            <div class="portlet light bordered">
                                <div class="portlet-title" style="border-bottom:none; margin-bottom:0">
                                    <div class="caption font-green-sharp">
                                        <i class="icon-settings font-green-sharp"></i>
                                        <span class="caption-subject bold uppercase">Email Settings</span>
                                    </div>
                                    <div class="tools">
                                        <a href="" class="collapse"> </a>
                                    </div>
                                </div>
                                <div class="portlet-body">
                                    <div class="form-group">
                                        <label class="control-label col-md-3">Server</label>
                                        <div class="col-md-4">
                                            <input type="text" class="form-control col-md-6" ng-model="systemConfiguration.emailServer" maxlength="200">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3">Port</label>
                                        <div class="col-md-4">
                                            <input type="text" class="form-control col-md-6" ng-model="systemConfiguration.emailServerPort">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3">Sender (Email)</label>
                                        <div class="col-md-4">
                                            <input type="text" class="form-control col-md-6" ng-model="systemConfiguration.emailSenderGeneral" maxlength="200">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3">Sender (Name)</label>
                                        <div class="col-md-4">
                                            <input type="text" class="form-control col-md-6" ng-model="systemConfiguration.emailSenderGeneralDisplayName" maxlength="200">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3">Password</label>
                                        <div class="col-md-4">
                                            <input type="text" class="form-control col-md-6" ng-model="systemConfiguration.emailSenderGeneralPassword" maxlength="200">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End: Email Settings -->
                            <!-- Begin: Medical Claim Settings -->
                            <div class="portlet light bordered">
                                <div class="portlet-title" style="border-bottom:none; margin-bottom:0">
                                    <div class="caption font-green-sharp">
                                        <i class="icon-settings font-green-sharp"></i>
                                        <span class="caption-subject bold uppercase">Medical Claim Settings</span>
                                    </div>
                                    <div class="tools">
                                        <a href="" class="collapse"> </a>
                                    </div>
                                </div>
                                <div class="portlet-body">
                                  <div class="form-group">
                                    <label class="control-label col-md-3">Medical Claim Check By</label>
                                    <div class="col-md-4">
                                      <select class="form-control select2" ng-model="selectedMCCheckBy" ng-options="obj as obj.displayName for obj in employees track by obj.id"></select>
                                    </div>
                                  </div>
                                  <div class="form-group">
                                    <label class="control-label col-md-3">Medical Claim Approval By</label>
                                    <div class="col-md-4">
                                      <select class="form-control select2" ng-model="selectedMCApprovalBy" ng-options="obj as obj.displayName for obj in employees track by obj.id"></select>
                                    </div>
                                  </div>
                                  <div class="form-group">
                                    <label class="control-label col-md-3">Medical Claim Start Month</label>
                                    <div class="col-md-2">
                                      <select class="form-control select2" ng-model="systemConfiguration.mCStartMonth">
                                        <option value="1">January</option>
                                        <option value="2">February </option>
                                        <option value="3">March</option>
                                        <option value="4">April</option>
                                        <option value="5">May</option>
                                        <option value="6">June</option>
                                        <option value="7">July</option>
                                        <option value="8">Augest</option>
                                        <option value="9">September</option>
                                        <option value="10">October</option>
                                        <option value="11">November</option>
                                        <option value="12">December</option>
                                      </select>
                                    </div>
                                  </div>
                                </div>
                            </div>
                            <!-- End: Medical Claim Settings -->
                        </div>
                    </div>
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-offset-3 col-md-9">
                                <button type="button" class="btn purple" ng-click="save(systemConfiguration,frmConfigurationAddEdit)" ng-disabled="frmConfigurationAddEdit.$invalid">
                                    <i class="fa fa-check"></i> Submit
                                </button>
                                <button type="button" class="btn default" ng-click="cancel()">Cancel</button>
                            </div>
                        </div>
                    </div>
                </form>
                <!-- END FORM-->
            </div>
        </div>
        <!-- END PORTLET-->
    </div>
</div>
<span ng-bind="name"></span>
<!-- END MAIN CONTENT -->
<!-- BEGIN MAIN JS-->
<script>
    ComponentsFormTools.init(); // init todo page
    ComponentsSelect2.init(); // init todo page
    ComponentsBootstrapSelect.init(); // init todo page
</script>
<!-- BEGIN MAIN JS -->
