@{
    Layout = null;
}
<style>
    [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
        display: none !important;
    }
</style>
<!-- BEGIN PAGE HEADER-->
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a ui-sref="dashboard">Home</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a ui-sref="countryList">Countries</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a ui-sref="countryAddEdit">{{pageTitle}}</a>
        </li>
    </ul>
    <div class="page-toolbar">
        <span class="col-md-1 glyphicon glyphicon-arrow-left" style="margin-top:.25em; font-size:1.5em;cursor:pointer; color:#23527c" ui-sref="countryList"></span>
        <div class="btn-group pull-right">
            @*<button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown" dropdown-menu-hover data-delay="1000" data-close-others="true">
                Actions
                <i class="fa fa-angle-down"></i>
            </button>*@
            @*<ul class="dropdown-menu pull-right" role="menu">
                <li>
                    <a href="#">
                        <i class="icon-trash" style="font-weight:bold;"></i> Delete
                    </a>
                </li>
            </ul>*@
        </div>
    </div>
</div>
<!-- END PAGE HEADER-->
<!-- BEGIN MAIN CONTENT -->
<div class="note note-success">
    <h3>{{headerTitle}}</h3>
    <p>{{headerDescription}}</p>
</div>
<div class="row">
    <div class="col-md-12">
        <!-- BEGIN PORTLET-->
        <div class="portlet box blue-hoki">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-gift"></i>Country Details
                </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse"> </a>
                </div>
            </div>
            <div class="portlet-body form">
                <!-- BEGIN FORM-->
                <form action="#" name="frmCountryAddEdit" class="form-horizontal form-bordered">
                    <div class="form-body">
                        <div class="form-group">
                            <label class="control-label col-md-3">Name</label>
                            <div class="col-md-4">
                                <input type="text" class="form-control" name="name_input" ng-model="country.name" maxlength="200" required>
                                <span class="fieldError" ng-cloak ng-show="frmCountryAddEdit.name_input.$dirty && frmCountryAddEdit.name_input.$invalid">
                                    <span ng-show="frmCountryAddEdit.name_input.$error.required">Name is required</span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-offset-3 col-md-9">
                                <button type="button" class="btn purple" ng-click="save(country,frmCountryAddEdit)" ng-disabled="frmCountryAddEdit.$invalid">
                                    <i class="fa fa-check"></i> Submit
                                </button>
                                <button type="button" class="btn default" ng-click="cancel()">Cancel</button>
                            </div>
                        </div>
                    </div>
                </form>
                <!-- END FORM-->
            </div>
        </div>
        <!-- END PORTLET-->
    </div>
</div>
<span ng-bind="name"></span>
<!-- END MAIN CONTENT -->
<!-- BEGIN MAIN JS-->
<script>
    ComponentsFormTools.init(); // init todo page
    ComponentsSelect2.init(); // init todo page
    ComponentsBootstrapSelect.init(); // init todo page
</script>
<!-- BEGIN MAIN JS -->
