@{
    Layout = null;
}
<style>
    [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
        display: none !important;
    }
</style>
<!-- BEGIN PAGE HEADER-->
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a ui-sref="dashboard">Home</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a ui-sref="eventList">Events</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a ui-sref="eventHome({eventId: {{eventId}}})">Event Home</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a ui-sref="eventParticipant">{{pageTitle}}</a>
        </li>
    </ul>
    <div class="page-toolbar">
        <span class="col-md-1 glyphicon glyphicon-arrow-left" style="margin-top:.25em; font-size:1.5em;cursor:pointer; color:#23527c" ui-sref="eventHome({eventId: {{eventId}}})"></span>
        <div class="btn-group pull-right">
            <button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown" dropdown-menu-hover data-delay="1000" data-close-others="true">
                Actions
                <i class="fa fa-angle-down"></i>
            </button>
            <ul class="dropdown-menu pull-right" role="menu">
                <li>
                    <a href="#">
                        <i class="icon-trash" style="font-weight:bold;"></i> Delete
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- END PAGE HEADER-->
<!-- BEGIN MAIN CONTENT -->
<div class="note note-success">
    <h3>Event Participant</h3>
    <p>Sample Description</p>
</div>
<div class="row">
    <div class="col-md-12">
        <!-- BEGIN PORTLET-->
        <div class="portlet box blue-hoki">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-gift"></i>Participant Details
                </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse"> </a>
                </div>
            </div>
            <div class="portlet-body form">
                <!-- BEGIN FORM-->
                <form action="#" name="frmEventParticipantAddEdit" class="form-horizontal form-bordered">
                    <div class="form-body">
                        <div class="form-group">
                            <label class="control-label col-md-3">Reference Number</label>
                            <div class="col-md-4">
                                <div class="input-icon right">
                                    <input type="text" class="form-control" ng-model="eventParticipant.referenceNumber" readonly>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">Type</label>
                            <div class="col-md-4">
                                <select class="form-control select2" ng-model="eventParticipant.participantType">
                                    <option value="Contact">Contact</option>
                                    <option value="NonContact">Non Contact</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">Title</label>
                            <div class="col-md-4">
                                <select class="form-control select2" ng-model="eventParticipant.title">
                                    <option value="Mr">Mr</option>
                                    <option value="Mrs">Mrs</option>
                                    <option value="Miss">Miss</option>
                                    <option value="Ms">Ms</option>
                                    <option value="Dr">Dr</option>
                                    <option value="Prof">Prof</option>
                                    <option value="ASP">ASP</option>
                                    <option value="Bri">Bri</option>
                                    <option value="Capt">Capt</option>
                                    <option value="Col">Col</option>
                                    <option value="Comm">Comm</option>
                                    <option value="Eng">Eng</option>
                                    <option value="Let">Let</option>
                                    <option value="Maj">Maj</option>
                                    <option value="MajGen">MajGen</option>
                                    <option value="SP">SP</option>
                                    <option value="Sqd">Sqd</option>
                                    <option value="SSP">SSP</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">First Name</label>
                            <div class="col-md-4">
                                <div class="input-icon right">
                                    <input type="text" class="form-control" name="firstName_input" ng-model="eventParticipant.firstName" required>
                                    <span class="fieldError" ng-cloak ng-show="frmEventParticipantAddEdit.firstName_input.$dirty && frmEventParticipantAddEdit.firstName_input.$invalid">
                                        <span ng-show="frmEventParticipantAddEdit.firstName_input.$error.required">First Name is required</span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">Last Name</label>
                            <div class="col-md-4">
                                <div class="input-icon right">
                                    <input type="text" class="form-control" ng-model="eventParticipant.lastName">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">Phone</label>
                            <div class="col-md-4">
                                <div class="input-icon right">
                                    <input type="text" class="form-control" ng-model="eventParticipant.phone">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">Extension</label>
                            <div class="col-md-4">
                                <div class="input-icon right">
                                    <input type="text" class="form-control" ng-model="eventParticipant.extension">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">Mobile</label>
                            <div class="col-md-4">
                                <div class="input-icon right">
                                    <input type="text" class="form-control" ng-model="eventParticipant.mobile">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">Email</label>
                            <div class="col-md-4">
                                <div class="input-icon right">
                                    <input type="text" class="form-control" ng-model="eventParticipant.email">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">Secretary</label>
                            <div class="col-md-4">
                                <div class="input-icon right">
                                    <input type="text" class="form-control" ng-model="eventParticipant.secretaryName">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">Organization</label>
                            <div class="col-md-4">
                                <div class="input-icon right">
                                    <select class="form-control select2" ng-model="selectedOrganization" ng-options="obj as obj.name for obj in organizations track by obj.id" ng-change="updateOrganizationName()"></select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3"></label>
                            <div class="col-md-4">
                                <div class="input-icon right">
                                    <input type="text" class="form-control" ng-model="eventParticipant.organizationName">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">Industry</label>
                            <div class="col-md-4">
                                <div class="input-icon right">
                                    <select class="form-control select2" ng-model="selectedIndustry" ng-options="obj.name for obj in industries track by obj.id"></select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">Job Role</label>
                            <div class="col-md-4">
                                <div class="input-icon right">
                                    <input type="text" class="form-control" ng-model="eventParticipant.jobRole">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">Department</label>
                            <div class="col-md-4">
                                <div class="input-icon right">
                                    <input type="text" class="form-control" ng-model="eventParticipant.department">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">Designation Category</label>
                            <div class="col-md-4">
                                <div class="input-icon right">
                                    <select class="form-control select2" ng-model="selectedDesignationCategory" ng-options="obj.description for obj in designationCategories track by obj.id"></select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">Address</label>
                            <div class="col-md-4">
                                <div class="input-icon right">
                                    <input type="text" class="form-control" ng-model="eventParticipant.addressLine1">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3"></label>
                            <div class="col-md-4">
                                <div class="input-icon right">
                                    <input type="text" class="form-control" ng-model="eventParticipant.addressLine2">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3"></label>
                            <div class="col-md-4">
                                <div class="input-icon right">
                                    <input type="text" class="form-control" ng-model="eventParticipant.addressLine3">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">Country</label>
                            <div class="col-md-4">
                                <div class="input-icon right">
                                    <select class="form-control select2" ng-model="selectedCountry" ng-options="obj.name for obj in countries track by obj.id"></select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">Account Manager</label>
                            <div class="col-md-4">
                                <div class="input-icon right">
                                    <select class="form-control select2" ng-model="selectedAccountManager" ng-options="obj as obj.displayName for obj in employees track by obj.id"></select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">Responded ?</label>
                            <div class="col-md-4">
                                <div class="input-icon right">
                                    <input type="checkbox" ng-model="eventParticipant.hasResponded">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">Participating Key Notes ?</label>
                            <div class="col-md-4">
                                <div class="input-icon right">
                                    <input type="checkbox" ng-model="eventParticipant.isParticipatingKeyNote">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">Participating Tech Space ?</label>
                            <div class="col-md-4">
                                <div class="input-icon right">
                                    <input type="checkbox" ng-model="eventParticipant.isParticipatingTrack">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">Participating SOC ?</label>
                            <div class="col-md-4">
                                <div class="input-icon right">
                                    <input type="checkbox" ng-model="eventParticipant.isParticipatingSoc">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">Participated ?</label>
                            <div class="col-md-4">
                                <div class="input-icon right">
                                    <input type="checkbox" ng-model="eventParticipant.hasParticipated">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-offset-3 col-md-9">
                                <button type="button" class="btn purple" ng-click="save(eventParticipant,frmEventParticipantAddEdit)" ng-disabled="frmEventParticipantAddEdit.$invalid">
                                    <i class="fa fa-check"></i> Submit
                                </button>
                                <button type="button" class="btn default" ng-click="cancel()">Cancel</button>
                            </div>
                        </div>
                    </div>
                </form>
                <!-- END FORM-->
            </div>
        </div>
        <!-- END PORTLET-->
    </div>
</div>
<span ng-bind="name"></span>
<!-- END MAIN CONTENT -->
<!-- BEGIN MAIN JS-->
<script>
    ComponentsFormTools.init(); // init todo page
    ComponentsSelect2.init(); // init todo page
    ComponentsBootstrapSelect.init(); // init todo page
</script>
<!-- BEGIN MAIN JS -->
