@{
    Layout = null;
}
<style>
    [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
        display: none !important;
    }
</style>
<!-- BEGIN PAGE HEADER-->
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a ui-sref="dashboard">Home</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a ui-sref="eventList">Events</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a ui-sref="eventHome">Event Home</a>
        </li>
    </ul>
    <div class="page-toolbar">
        <span class="col-md-1 glyphicon glyphicon-arrow-left" style="margin-top:.25em; font-size:1.5em;cursor:pointer; color:#23527c" ui-sref="eventList"></span>
        <div class="btn-group pull-right">
            <button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown" dropdown-menu-hover data-delay="1000" data-close-others="true">
                Actions
                <i class="fa fa-angle-down"></i>
            </button>
            <ul class="dropdown-menu pull-right" role="menu">
                <li>
                    <input type="file" id="exportpath" style="display:none" />
                    <a ng-click="export()">
                        <i class="icon-doc" style="color:green"></i> Export to Excel
                    </a>
                </li>
                <li>
                    <a ng-click="printAllInvitees()">
                        <i class="icon-printer" style="color:red"></i> Invitee List (All)
                    </a>
                </li>
                <li>
                    <a ng-click="printConfirmedInvitees()">
                        <i class="icon-printer" style="color:red"></i> Invitee List (Participating)
                    </a>
                </li>
                <li>
                    <a ng-click="printParticipatedInvitees()">
                        <i class="icon-printer" style="color:red"></i> Participated List
                    </a>
                </li>
                <li>
                    <a ng-click="printEventSummary()">
                        <i class="icon-printer" style="color:red"></i> Event Summary
                    </a>
                </li>
            </ul>
        </div>

    </div>
</div>
<!-- END PAGE HEADER-->
<!-- BEGIN MAIN CONTENT -->
<div class="row">
    <div class="col-md-6">
        <div class="note note-success">
            <h3>{{event.name}}</h3>
            <p>{{event.displayDate}},&nbsp;{{event.displayTimeFrom}}&nbsp;to&nbsp;{{event.displayTimeTo}}&nbsp;at&nbsp;{{event.venueName}}</p>
        </div>
    </div>
    <div class="col-md-6">
        <!-- BEGIN DASHBOARD STATS -->
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="dashboard-stat blue">
                    <div class="visual" style="height:40px">
                        <i class="fa fa-comments"></i>
                    </div>
                    <div class="details">
                        <div class="number" style="padding-top:0px"> {{eventThumbnail.invited}} </div>
                        <div class="desc"> Invited </div>
                    </div>
                    <a class="more" href="#">
                        View more
                        <i class="m-icon-swapright m-icon-white"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="dashboard-stat red">
                    <div class="visual" style="height:40px">
                        <i class="fa fa-bar-chart-o"></i>
                    </div>
                    <div class="details">
                        <div class="number" style="padding-top:0px"> {{eventThumbnail.confirmed}} </div>
                        <div class="desc"> Participating  </div>
                    </div>
                    <a class="more" href="#">
                        View more
                        <i class="m-icon-swapright m-icon-white"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="dashboard-stat green">
                    <div class="visual" style="height:40px">
                        <i class="fa fa-shopping-cart"></i>
                    </div>
                    <div class="details">
                        <div class="number" style="padding-top:0px"> {{eventThumbnail.present }} </div>
                        <div class="desc"> Present </div>
                    </div>
                    <a class="more" href="#">
                        View more
                        <i class="m-icon-swapright m-icon-white"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="dashboard-stat purple">
                    <div class="visual" style="height:40px">
                        <i class="fa fa-globe"></i>
                    </div>
                    <div class="details">
                        <div class="number" style="padding-top:0px"> {{eventThumbnail.tasks }} </div>
                        <div class="desc"> Tasks </div>
                    </div>
                    <a class="more" href="#">
                        View more
                        <i class="m-icon-swapright m-icon-white"></i>
                    </a>
                </div>
            </div>
        </div>
        <!-- END DASHBOARD STATS -->
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <!-- BEGIN PORTLET-->
        <div class="portlet box blue-hoki">
            <div class="portlet-body form">
                <!-- BEGIN FORM-->
                <form action="#" name="frmEventHome" class="form-horizontal form-bordered">
                    <div class="form-body"></div>
                    <div class="form-actions" style="border-top: 1px solid #869ab3">
                        <div class="col-md-12">
                            <div class="input-icon right input-group">
                                <input type="text" class="form-control" ng-model="searchQuery.searchText" ng-change="searchInvitees(searchQuery)">
                                <span class="input-group-addon" style="cursor:pointer;" id="advanceSearch" data-toggle="collapse" href="#advanceSearchContainer" aria-expanded="false" aria-controls="collapseExample">
                                    <span class="glyphicon glyphicon-filter" aria-hidden="true" style="display: inline!important;"></span>
                                </span>
                            </div>
                            <div class="collapse" id="advanceSearchContainer" style="border:1px solid #869ab3; background-color:white">
                                <div class="panel" style="padding-top:20px; padding-left:5px;padding-right:5px">
                                    <div class="row">
                                        <div style="padding-top:5px;padding-left:15px; padding-right:15px">
                                            <div class="col-md-4">
                                                <label>Organization</label>
                                                <select class="form-control select2" ng-model="searchQuery.organization" ng-options="obj.name for obj in organizations track by obj.id"></select>
                                            </div>
                                            <div class="col-md-3">
                                                <label>Participating ?</label>
                                                <select class="form-control select2" ng-model="searchQuery.confirmationType">
                                                    <option value="All">All</option>
                                                    <option value="Yes">Yes</option>
                                                    <option value="No">No</option>
                                                </select>
                                            </div>
                                            <div class="col-md-2">
                                                <label>Participated ?</label>
                                                <select class="form-control select2" ng-model="searchQuery.participationType">
                                                    <option value="All">All</option>
                                                    <option value="Yes">Yes</option>
                                                    <option value="No">No</option>
                                                </select>
                                            </div>
                                            <div class="col-md-4">
                                                <label>Account Manager</label>
                                                <select class="form-control select2" ng-model="searchQuery.accountManager" ng-options="obj.displayName for obj in employees track by obj.id"></select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-2" style="padding-left:30px;padding-top:10px;">
                                            <button type="button" class="btn purple" ng-click="searchInvitees(searchQuery)">Search</button>
                                        </div>
                                        <div class="col-md-9">
                                        </div>
                                        <div class="col-md-1">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <div style="padding-bottom:0px;padding-top:20px;padding-left:30px; padding-right:30px;">
                    <button type="button" class="btn blue-dark" ng-click="addEditParticipant('Add New Participant', 0)"><span style="padding-right:5px; color:white; font-weight:bold;">+</span> Register a New Participant</button>&nbsp;
                    <button type="button" class="btn blue-dark" ng-click="inviteExistingContact('Invite Existing Contacts')"><span style="padding-right:5px; color:white; font-weight:bold;">+</span> Invite Existing Contacts</button>&nbsp;
                    <button type="button" class="btn blue-dark" ng-click="eventCheckList('Event Check List')">Event Check List</button>&nbsp;
                    <button type="button" class="btn blue-dark" ng-click="eventDetails('Event Details')">Event Details</button>
                    <button type="button" class="btn blue-dark" ng-click="eventFiles('Event Files')">Event Files</button>
                    <button type="button" class="btn yellow" data-toggle="collapse" href="#sessionParticipationFilterContainer" aria-expanded="false" aria-controls="collapseExample">Session Participation</button>
                    <div class="collapse" id="sessionParticipationFilterContainer" style="border:1px solid #869ab3; background-color:white">
                        <div class="panel" style="padding-top:20px; padding-left:5px;padding-right:5px">
                            <div class="row">
                                <div style="padding-top:5px;padding-left:15px; padding-right:15px">
                                    <div class="col-md-10">
                                        <label>Track</label>
                                        <select class="form-control select2" ng-model="selectedTrack" ng-options="obj.name for obj in tracks track by obj.id" ng-change="fillForTracks()"></select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div style="padding-top:5px;padding-left:15px; padding-right:15px">
                                    <div class="col-md-10">
                                        <label>Session</label>
                                        <select class="form-control select2" ng-model="selectedSession" ng-options="obj.name for obj in trackSessions track by obj.id"></select>
                                    </div>
                                    <div class="col-md-2">
                                        <label class="col-md-12">&nbsp;</label>
                                        <button type="button" class="btn yellow" ng-click="sessionParticipation()">Start</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="portlet-body form-body" style="padding-top:6px;">
                    <div style="padding: 10px" class="datagrid">
                        <table class="table table-striped table-bordered table-hover table-checkable order-column" id="eventInvitee_dataTable">
                            <thead>
                                <tr>
                                    <th> </th>
                                    <th> Number </th>
                                    <th> Organization </th>
                                    <th> Name </th>
                                    <th> Mobile </th>
                                    <th> Type </th>
                                    <th> AM </th>
                                    <th> Participating? </th>
                                    <th> Present? </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="odd gradeX" ng-repeat="row in inviteeList">
                                    <td style="width:50px; text-align:center;">
                                        <span class="glyphicon glyphicon-edit" aria-hidden="true" style="cursor:pointer;"
                                              data-toggle="modal" ng-click="addEditParticipant('Edit Participant', row.id )"></span>
                                    </td>
                                    <td>{{row.referenceNumber}} </td>
                                    <td>{{row.organizationName}}</td>
                                    <td>{{row.title}} {{row.firstName}} {{row.lastName}}</td>
                                    <td>{{row.mobile}}</td>
                                    <td>{{row.participantType}}</td>
                                    <td>{{row.accountManager}}</td>
                                    <td>{{row.hasResponded?(row.isParticipating?'Yes':'No'):'-'}}</td>
                                    <td>
                                        <input type="checkbox" ng-model="row.hasParticipated" ng-change="updateParticipation(row.id)">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- END FORM-->
            </div>
        </div>
        <!-- END PORTLET-->
    </div>
</div>
<!-- END MAIN CONTENT -->
<!-- BEGIN MAIN JS-->
<script>
    ComponentsFormTools.init(); // init todo page
    ComponentsSelect2.init(); // init todo page
    ComponentsBootstrapSelect.init(); // init todo page

    $('#advanceSearch').click(function () {
        $('#advanceSearchArea').collapse('toggle');
    });
</script>
<!-- BEGIN MAIN JS -->
