@{
    Layout = null;
}
<style>
    [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
        display: none !important;
    }
</style>
<!-- BEGIN PAGE HEADER-->
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a ui-sref="dashboard">Home</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a ui-sref="eventList">Events</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a ui-sref="eventHome({eventId: {{eventId}}})">Event Home</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a ui-sref="eventDetails({eventId: {{eventId}}})">Event Details</a>
        </li>
    </ul>
    <div class="page-toolbar">
        <span class="col-md-1 glyphicon glyphicon-arrow-left" style="margin-top:.25em; font-size:1.5em;cursor:pointer; color:#23527c" ui-sref="eventHome({eventId: {{eventId}}})"></span>
        <div class="btn-group pull-right">
            <button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown" dropdown-menu-hover data-delay="1000" data-close-others="true">
                Actions
                <i class="fa fa-angle-down"></i>
            </button>
            <ul class="dropdown-menu pull-right" role="menu">
                <li>
                    <a href="#">
                        <i class="icon-trash" style="font-weight:bold;"></i> Delete
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- END PAGE HEADER-->
<!-- BEGIN MAIN CONTENT -->
<div class="note note-success">
    <h3>{{event.name}}</h3>
    <p>{{event.displayDate}},&nbsp;{{event.displayTimeFrom}}&nbsp;to&nbsp;{{event.displayTimeTo}}&nbsp;at&nbsp;{{event.venueName}}</p>
</div>
<div class="row">
    <div class="col-md-12">
        <!-- BEGIN PORTLET-->
        <div class="desktopTitle1">
            <ul class="eventSession" id="top" style="overflow:hidden">
                <li class="eventtrack" style="background-color:cadetblue;border-color:white">
                    <div class="session">

                    </div>
                </li>
                <li class="eventtrack" ng-repeat="track in event.trackList" style="border-color:white">
                    <div class="session" style="background-color:cadetblue;">
                        <ul style="list-style:none">
                            <li style="font-weight:bold;color:white">{{track.name}}</li>
                            <li style="color:white">{{track.description}}
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
        <ul class="eventSession" ng-repeat="session in event.sessionList" id="bottom">
            <li class="eventtrack" style="background-color:#5fb393;border-color:white">
                <div class="session">
                    <ul style="list-style:none;">
                        <li style="font-weight:bold;color:white">{{session.timeFromTimePart}} - {{session.timeToTimePart}}</li>
                    </ul>
                </div>
            </li>
            <li class="eventtrack" ng-repeat="sesTrack in session.trackSessionList" style="border-color:white">
                <div class="session" style="background-color:#ececec">
                    <ul style="list-style:none;">
                        <li style="font-weight:bold;">{{sesTrack.title}}</li>
                        <li>{{sesTrack.description}}</li>
                        <li><span style="font-weight:bold;">At : </span>{{sesTrack.roomName}}</li>
                        <li><span style="font-weight:bold;">By : </span>{{sesTrack.speakerName}}</li>
                        <li><span style="font-weight:bold;">Coordinator(s)</span></li>
                        <li>{{sesTrack.coordinator1Name}}</li>
                        <li>{{sesTrack.coordinator2Name}}</li>
                    </ul>
                </div>
            </li>
        </ul>
        <!-- END PORTLET-->
    </div>
</div>
<span ng-bind="name"></span>
<!-- END MAIN CONTENT -->
<!-- BEGIN MAIN JS-->
<script>
    ComponentsFormTools.init(); // init todo page
    ComponentsSelect2.init(); // init todo page
    ComponentsBootstrapSelect.init(); // init todo page
</script>
<!-- BEGIN MAIN JS -->
