@{
    Layout = null;
}
<style>
    [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
        display: none !important;
    }
</style>
<!-- BEGIN PAGE HEADER-->
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a ui-sref="dashboard">Home</a>
            <i class="fa fa-circle"></i>
        </li>
        @*<li>
            <a ui-sref="employeeFamilyMemberList">Employee Family Members</a>
            <i class="fa fa-circle"></i>
        </li>*@
        <li>
            <a ui-sref="employeeFamilyMemberAddEdit">{{pageTitle}}</a>
        </li>
    </ul>
    <div class="page-toolbar">
        @*<span class="col-md-1 glyphicon glyphicon-arrow-left" style="margin-top:.25em; font-size:1.5em;cursor:pointer; color:#23527c" ui-sref="employeeFamilyMemberList"></span>*@
        <div class="btn-group pull-right">
            <button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown" dropdown-menu-hover data-delay="1000" data-close-others="true">
                Actions
                <i class="fa fa-angle-down"></i>
            </button>
            <ul class="dropdown-menu pull-right" role="menu">
                <li>
                    <a href="#">
                        <i class="icon-trash" style="font-weight:bold;"></i> Delete
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- END PAGE HEADER-->
<!-- BEGIN MAIN CONTENT -->
<div class="note note-success">
    <h3>{{headerTitle}}</h3>
    <p>{{headerDescription}}</p>
</div>
<div class="row">
    <div class="col-md-12">
        <!-- BEGIN PORTLET-->
        <div class="portlet box blue-hoki">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-gift"></i>Employee Family Member Details
                </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse"> </a>
                </div>
            </div>
            <div class="portlet-body form">
                <!-- BEGIN FORM-->
                <form action="#" name="frmEmployeeFamilyMemberAddEdit" class="form-horizontal form-bordered">
                    <div class="form-body">
                        <div class="form-group">
                            <label class="control-label col-md-3">Employee</label>
                            <div class="col-md-4">
                                <div class="input-icon right">
                                    <input type="text" class="form-control" ng-model="employee.displayName" readonly>
                                    <input type="hidden" value="employee.id" id="HiddenEmployeeID" />
                                    @*<span>
                                        Name={{employee.firstName+" "+employee.lastName}}
                                    </span>*@
                                </div>
                            </div>
                        </div>
                        </div>
                    <div class="form-group">
                        <!-- Begin: Employee Family Members List List -->
                        <div class="portlet light bordered">
                            <div class="portlet-title" style="border-bottom:none; margin-bottom:0">
                                <div class="caption font-green-sharp">
                                    <i class="icon-settings font-green-sharp"></i>
                                    <span class="caption-subject bold uppercase">Employee Family Members List</span>
                                </div>
                                <div class="tools">
                                    <a href="" class="collapse"> </a>
                                </div>
                            </div>
                            <div class="portlet-body">
                                <div ng-repeat="item in employeesFamilyMembers">
                                    <ng-form name="frmEmployeeFamilyMemberItemList">
                                        <div class="row form-group form-group-sm" style="border:none">
                                            <div class="row-container">
                                                <div class="row">
                                                    <button type="button" class="close pull-right row-container-close"
                                                            data-dismiss="modal" aria-label="Close"
                                                            ng-click="deleteListItem(item)">
                                                        <span aria-hidden="true">×</span>
                                                    </button>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-2">
                                                        <label class="control-label col-md-4" style="text-align:left;padding-left:0 !important">Relationship</label>
                                                        <select class="form-control" ng-model="item.relationship" type="number">
                                                            <option value="Wife">Wife</option>
                                                            <option value="Husband">Husband</option>
                                                            <option value="Son">Son</option>
                                                            <option value="Daughter">Daughter</option>
                                                        </select>
                                                    </div>
                                                    <div class="col-sm-3">
                                                        <label class="control-label col-md-10" style="text-align:left;padding-left:0 !important">Name</label>
                                                        <input type="text" class="form-control" ng-model="item.name">
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <label class="control-label col-md-12" style="text-align:left;padding-left:0 !important">Eligibility For Medical Claims</label>
                                                        <div class="col-md-4">
                                                            <div class="input-icon right">
                                                                <input type="checkbox" ng-model="item.eligibleForMedicalClaims">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </ng-form>
                                </div>
                                <div style="margin-top:1em; margin-bottom:1em">
                                    <a style="cursor:pointer;" ng-click="addNewListItem()">
                                        <div>
                                            <span>New Member</span>
                                            <span class="glyphicon glyphicon-plus pull-left" aria-hidden="true" style="color: #0a6aa1;margin-right:.5em"></span>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- End: Employee Family Members List List -->
                        <div class="form-actions">
                            <div class="row">
                                <div class="col-md-offset-3 col-md-9">
                                    <button type="button" class="btn purple" ng-click="save(employeesFamilyMembers,frmEmployeeFamilyMemberAddEdit)"
                                            ng-disabled="frmEmployeeFamilyMemberAddEdit.$invalid ))">
                                        <i class="fa fa-check"></i> Submit
                                    </button>
                                    <button type="button" class="btn default" ng-click="cancel()">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    </form>
                <!-- END FORM-->
            </div>
        </div>
        <!-- END PORTLET-->
    </div>
</div>
@*<span ng-bind="name"></span>*@
<!-- END MAIN CONTENT -->
<!-- BEGIN MAIN JS-->
<script>
    ComponentsFormTools.init(); // init todo page
    ComponentsSelect2.init(); // init todo page
    ComponentsBootstrapSelect.init(); // init todo page
</script>
<!-- BEGIN MAIN JS -->
